[package]
name = "cancelable"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description.workspace = true
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true

[dependencies]
anyhow = "1.0.100"
crossbeam = "0.8.4"
crossbeam-channel = "0.5.15"
# FIXME
#crossbeam-queue = "0.3.12"
tracing = "0.1.43"
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
