[package]
name = "memory_management"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Book code examples and their crate dependencies - memory_management"
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
license = "CC0-1.0"
keywords.workspace = true
categories = ["memory_management"]
publish.workspace = true
autolib = false

[dependencies]
# FIXME bumpalo = "3.17.0"
lazy_static = "1.5.0"
mimalloc = "0.1.48"
once_cell = "1.21.3"
# FIXME slab = "0.4.9"

# General
anyhow = "1.0.100"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.6.1"
tikv-jemalloc-ctl = { version = "0.6.1", features = [ "stats", "use_std" ] }
