# Include any files or directories that you don't want to be copied to the (CI)
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/
/.cargo-husky
/.git
/.github
/.vscode
/book
/crates/ex/**/temp
/crates/**/target
/crates/playground/drafts
/doctest_cache
/drafts
/scripts
/target
/*.md
**/.DS_Store
*.log
README.md
