# Include any files or directories that you don't want to be copied to the (CI)
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/
.git/
.github/
.vscode/
bin/
bk/book/
bk/crates/*/temp/
bk/crates/*/target/
bk/doctest_cache/
bk/target/
target/
playground/
publish/
*.log
