# Include any files or directories that you don't want to be copied to the (CI)
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

# Git and CI
.git/
.github/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Build Artifacts
bin/
**/target/
**/book/
**/doctest_cache/
**/temp/

# Python bits (since python3 is in the Dockerfile)
__pycache__/
*.py[cod]
*$py.class

# Project specific
bk/drafts/
later/
mdbook-utils/
playground/
publish/
typ/
/*.md
/*.html

# Logs and Temp
**/*.log
tmp/
