[package]
name = "development_tools_debugging"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Book code examples and their crate dependencies - development_tools_debugging"
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
license = "CC0-1.0"
keywords.workspace = true
categories = ["development_tools_debugging"]
publish.workspace = true
autolib = false

[dependencies]
env_logger = "0.11.8"
log = "0.4.28"
log4rs = "1.4.0"
# FIXME
# opentelemetry = { version = "0.30.0", optional = true }
# opentelemetry-jaeger = { version = "0.22.0", optional = true }
# opentelemetry-otlp = { version = "0.30.0", optional = true }
# opentelemetry_sdk = { version = "0.30.0", features = ["metrics"], optional = true }
# opentelemetry-semantic-conventions = { version = "0.30.0", optional = true }
slog = "2.8.2"
slog-async = "2.8.0"
slog-term = "2.9.2"
# FIXME slog-scope = "4.4.0"
tracing = "0.1.41"
tracing-appender = "0.2.3"
# FIXME tracing-opentelemetry = { version = "0.31.0", optional = true }
tracing-subscriber = { version = "0.3.20", features = ["env-filter", "time", "json"] }

## General
anyhow = "1.0.100"
# axum = "0.8.4" # for open_telemetry example
chrono = "0.4.42"
serde = { version = "1.0.228", features = ["derive"] }
tempfile = "3.23.0"
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread"]  }
# FIXME tonic = "0.13.0" # for open_observe example

[target.'cfg(target_os = "linux")'.dependencies]
syslog = "7.0.0"

[dev-dependencies]
## Used for testing
rusty-fork = "0.3.1"

# FIXME
# [features]
# default = []
# opentelemetry = ["dep:opentelemetry", "dep:opentelemetry-jaeger", "dep:opentelemetry-otlp", "dep:opentelemetry_sdk", "dep:opentelemetry-semantic-conventions", "dep:tracing-opentelemetry"]
