[package]
name = "os_unix_apis"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Book code examples and their crate dependencies - os_unix_apis"
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
license = "CC0-1.0"
keywords.workspace = true
categories = ["os_unix_apis"]
publish.workspace = true
autolib = false

[dependencies]
anyhow = "1.0.100"

[target.'cfg(target_family = "unix")'.dependencies]
nix = { version = "0.30.1", features = ["fs"] }
rustix = { version = "1.1.2", features = ["fs"] }
