[package]
name = "database"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Book code examples and their crate dependencies - database"
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
license = "CC0-1.0"
keywords.workspace = true
categories = ["database"]
publish.workspace = true
autolib = false

[dependencies]
# FIXME cassandra-protocol = { version = "3.3.0", optional = true }
# FIXME cdrs-tokio = { version = "8.1.4", features = ["derive"], optional = true }
# FIXME cornucopia = { version = "0.9.0", optional = true }
deadpool = "0.12.3"
deadpool-postgres = { version = "0.14.1", features = ["serde"], optional = true }
diesel = { version = "2.3.3", features = ["sqlite"], optional = true  }
# FIXME diesel_migrations = { version = "2.2.0", features = ["sqlite"], optional = true }
diesel-oci = { version = "0.4.0", optional = true }
elasticsearch = { version = "9.1.0-alpha.1", optional = true } # NOTE: alpha version
heed = { version = "0.22.1-nested-rtxns-5", optional = true }
lapin = { version = "3.7.1", optional = true }
mongodb = { version = "3.3.0", optional = true }
oracle = { version = "0.6.3", optional = true }
postgres = { version = "0.19.12", optional = true }
redis = { version = "0.32.7", optional = true }
rocksdb = { version = "0.24.0", optional = true }
rusqlite = { version = "0.32.1", optional = true } # pinned
# FIXME sea-orm = { version = "1.1.3", optional = true }
# FIXME seaography = { version = "1.1.2", optional = true }
sqlx = { version = "0.8.6", features = ["runtime-tokio", "sqlite", "macros"], optional = true }
tiberius = { version = "0.12.3", optional = true }
tokio-postgres = { version = "0.7.15", optional = true }

## General
anyhow = "1.0.100"
byteorder = "1.5.0"
config = "0.15.18"
dotenvy = "0.15.7"
futures = "0.3.31"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = { version = "1.0.145", optional = true }
tempfile = { version = "3.23.0", optional = true }
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread"] }
tokio-util = { version = "0.7.16", features = ["compat"] }
# FIXME uuid = { version = "1", features = ["v4"] }

[target.'cfg(target_os = "linux")'.dependencies]
sibyl = { version = "0.6.21", features = ["blocking"], optional = true }

[features]
# default = []
cassandra = [] # FIXME "dep:cassandra-protocol", "dep:cdrs-tokio"
diesel = ["dep:diesel"] # FIXME "dep:diesel_migrations"
elasticsearch = ["dep:elasticsearch", "dep:serde_json"]
lapin = ["dep:lapin"]
lmdb = ["dep:heed", "dep:tempfile"]
mongodb = ["dep:mongodb"]
mssql = ["dep:tiberius"]
oracle = ["dep:diesel", "dep:diesel-oci", "dep:oracle"] # FIXME "dep:sibyl"
postgres = ["dep:deadpool-postgres", "dep:postgres", "dep:tokio-postgres"] # FIXME: "dep:cornucopia", "dep:cornucopia_async"
redis = ["dep:redis"]
rocksdb = ["dep:rocksdb", "dep:tempfile"]
sea_orm = [] # FIXME "dep:sea-orm", "dep:seaography"
sqlx = ["dep:sqlx"]
sqlite = ["dep:rusqlite"]
