[package]
name = "database_implementations"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Book code examples and their crate dependencies - database_implementations"
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
license = "CC0-1.0"
keywords.workspace = true
categories = ["database_implementations"]
publish.workspace = true
autolib = false

[dependencies]
meilisearch-sdk = { version= "0.30.0", optional = true }
sled = { version = "0.34.7", optional = true }
surrealdb = { version = "2.5.0", features = ["kv-mem"], optional = true }
# FIXME: tantivy = { version = "0.25.0", optional = true }

## General
anyhow = "1.0.100"
serde = { version = "1.0.228", features = ["derive"] }
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread"]  }

[features]
# default = []
meilisearch = ["dep:meilisearch-sdk"]
sled = ["dep:sled"]
surrealdb = ["dep:surrealdb"]
tantivy = [] # FIXME: "dep:tantivy"
