name: Build book code (and book) on Windows

on:
  push:
    branches: [main]
    paths:
      - 'bk\**'
  pull_request:
    branches: [main]
    paths:
      - 'bk\**'
  ## Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

## ---------------------------------------------------------------------

## See `ci.sh` for equivalent steps when using Docker
jobs:
  build-book-code-on-windows:
    name: Build book code on Windows
    runs-on: windows-2025 # required for winget
    steps:

      # - name: Display directory tree (debug)
      #   run: |
      #     tree $env:userprofile\.cargo

      # Checks out your repository under $GITHUB_WORKSPACE
      - name: Code checkout (clones the Git repository)
        uses: actions/checkout@v6

      # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/caching-dependencies-to-speed-up-workflows
      # Install paths for Rust / Cargo in https://github.com/actions/runner-images/blob/main/images/windows/scripts/build/Install-Rust.ps1
      - name: Cache Cargo registry and dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/binstall/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            /usr/local/cargo/bin/
            /usr/local/cargo/binstall/
            /usr/local/cargo/registry/index/
            /usr/local/cargo/registry/cache/
            /usr/local/cargo/git/db/
            target/
            bk/crates/target/
          key: rust_howto-book-${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            rust_howto-book-${{ runner.os }}-cargo-

      # - name: Install `protoc` and `jq` (winget)
      #   run: |
      #     winget install protobuf --force --accept-package-agreements --accept-source-agreements --silent
      #     winget install jqlang.jq --force --accept-package-agreements --accept-source-agreements --silent
      #     $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

      - name: Install `protoc` and `jq` (choco)
        run: |
          choco install jq protoc --confirm --no-progress
        # --limit-output

      - name: Protoc version (debug)
        run: protoc --version

      - name: Install `cargo binstall`
        shell: pwsh
        run: Set-ExecutionPolicy Unrestricted -Scope Process; iex (iwr "https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.ps1").Content

      - name: Install mdBook
        run: |
          cargo binstall --version "0.4.35" --no-confirm mdbook
          cargo binstall --no-confirm mdbook-linkcheck
          cargo binstall --no-confirm mdbook-private
          cargo binstall --no-confirm mdbook-indexing

      - name: Install Nextest
        run: cargo binstall --no-confirm --secure cargo-nextest

      - name: Install `mdbook-utils`
        run: cargo install --locked --force mdbook-utils

      - name: Update Rust; Install nightly Rust
        run: |
          rustup update stable
          rustup default stable
          rustup toolchain install nightly
          rustup component add rustfmt --toolchain nightly
          rustup show

      - name: Output Rust version (debug)
        run: rustup --version

      - name: Format
        run: cargo +nightly fmt --all --check
        working-directory: '.\bk\crates'

      - name: Fetch
        run: cargo fetch
        working-directory: '.\bk\crates'

      - name: Build
        run: cargo build --workspace --all-targets --locked --profile ci
        working-directory: '.\bk\crates'

      - name: Clippy
        run: cargo clippy --workspace --all-targets --locked --profile ci -- --deny warnings
        working-directory: '.\bk\crates'

      - name: Run tests
        run: |
          cargo nextest run --workspace --all-targets --locked --cargo-profile ci --profile ci --hide-progress-bar
          cargo test --workspace --doc --locked --profile ci -- --show-output
        working-directory: '.\bk\crates'

      - name: Build / release the tools, incl. mdbook-scrub
        run: cargo +nightly build --bins --locked --release -Z unstable-options --artifact-dir "..\bin"
        working-directory: '.\tools'

      - name: Build the book
        run: mdbook build; copy static\*.* book\html; mdbook-utils sitemap
        working-directory: '.\bk'
